.lead__subtitle {
    font-size: 30px;
    line-height: 120%;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin: 0 0 64px 0;
}

@media screen and (max-width: 1024px) {
    .lead__subtitle {
        margin: 0 0 56px 0;
    }
}

@media screen and (max-width: 700px) {
    .lead__subtitle {
        font-size: 4.5vw;
        line-height: 110%;
    }
}

@media screen and (max-width: 375px) {
    .lead__subtitle {
        font-size: 4.5vw;
        line-height: 115%;
    }
}

@media screen and (max-width: 320px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 125%;
        margin: 0 0 40px 0;
    }
        }